*.png
*.jar
Sheets/DataSet/
Algorithm_Training/*.csv
Algorithm_Training/*.txt
Algorithm_Training/CGP_Outputs/*.txt
Algorithm_Training/CGP_Chromo/*.chromo
Algorithm_Training/CGP_Chromo/*.dot
.settings
.vscode
*.exe
*.class
*.o
Algorithm_Training/kfolddata
bin/
Matlab_dataplot/*.png
.csv
Matlab_dataplot/Benson_Data
Algorithm_Training/CGP_BestChromo/*.csv