*.png
*.jar
Sheets/DataSet/
Algorithm_Training/*.csv
Algorithm_Training/*.txt
Algorithm_Training/CGP_Outputs/*.txt
.settings
.vscode
*.exe
*.class
*.o
Algorithm_Training/kfolddata
bin/
Matlab_dataplot/*.png
.csv